body{
    background:blue;
   
}

.container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    
    
}
img{
    width:100%;
}

.cards{
    display:flex;
    flex-direction:column;
    width:33%;
    background:yellow;
}

h2{
    text-align:center;
}
p{
    text-align:center;
}

a{
    padding:10px;
    background:black;
    border-radius: 10px;
   margin-bottom: 10px;
}